<%- include("partials/header"); -%>

<h1 id="result" class="result"><%= gameResult.result %></h1>
<p class="again">(click on any hand to try again!)</p>

<h1 id="playerPick" class="ppH1"><%= gameResult.pp %></h1>
<h1 class="choice">Your choice:</h1>
<button class="flex-item ppImg">
  <img src="" id="ppImg" />
</button>

<h1 class="result">VS</h1>

<h1 id="computerPick" class="cpH1"><%= gameResult.cp %></h1>
<h1 class="choice">Your opponents choice:</h1>
<button class="flex-item ppImg">
  <img src="" id="cpImg" />
</button>

<%- include("partials/footer"); -%>
